* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "firago";
}
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    /* height: 100%; */
}
.nav-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.nav-header a {
    text-decoration: none;
    color: black;
}
.burger-icon {
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    margin-right: 5px;
  }
.burger-icon span {
    display: block;
    width: 100%;
    height: 4px;
    background-color: black;
    border-radius: 5px;
  }
.burger-icon:hover span{
    background-color: #c03;
}
.nav-header ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}
.nav-header a:hover {
    color: #c03;
}
.nav-header li {
    margin-right: 30px;
    font-size: 20px;
}
.menu-li {
    position: relative;
}
.menu-li:hover .burger-icon span {
    background-color: #c03;
}
.menu-li a {
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-li span {
    margin-right: 50px;
}
.burger-menu {
    background-color: white;
    border: 1px solid black;
    display: none;
    display: flex;
    width: 100%;
    flex-direction: column;
}
.main-li {
    font-weight: 700;
}
.burger-icon-hover-block {
    display: none;
    justify-content: flex-start;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    z-index: 10;
    min-width: 480px;
    padding: 25px;
}
.burger-icon-hover-block ul {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;   
}
.burger-icon-hover-block ul li {
    margin-bottom: 8px;
}
.menu-li:hover .burger-icon-hover-block {
    display: block;
}
.red-arrow {
    width: 15px;
    height: 12px;
    margin-right: 5px;
    fill: #c03;
}
.logo-div img{
    width: 300px;
}
.rs-li a{
    display: flex;
    align-items: center;
}

/* slider */
.swiper {
    width: 100%;
    height: fit-content;
    margin-top: 50px;
}
.swiper-button-next, .swiper-button-prev {
    color: #fff !important;
}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    background-color: #fff !important;
}
.swiper-slide {
    width: 100%;
    position: relative;
}
.swiper-slide h3 {
    padding: 10px;
    font-size: 40px;
    position: absolute;
    color: #fff;
    left: 50px;
    top: 350px;
    z-index: 10;
}
.q8-block {
    margin-top: 70px;
}
.grid-collage {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1px 1px;
    grid-auto-flow: row;
    grid-template-areas:
      "sq8-grid-leftside sq8-grid-rightside sq8-grid-interior"
      ". sq8-grid-rightside sq8-grid-back";
  }
  
.sq8-grid-leftside { grid-area: sq8-grid-leftside; 
}
 
.sq8-grid-rightside { grid-area: sq8-grid-rightside; 
}
.sq8-grid-interior { grid-area: sq8-grid-interior; 
}
.sq8-grid-back { grid-area: sq8-grid-back; 
} 
.multimedia-gallery h3 {
    font-weight: 700;
    font-size: 25px;
    margin: 30px 0;
}
video {
    width: 800px;
    height: 454px;
}
.q8-tittle {
    font-size: 35px;
}
.q8-left-tittles-div {
    font-size: 20px;
    background-color: #c03;
    border: 1px #c03;
    padding: 10px;
    color: #fff;
    max-width: 350px;
    text-align: right;
    margin-left: 150px;
    display: flex;
    flex-direction: column;
}
.q8-more-info-block {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 100px;
    max-width: 100%;
}
.q8-more-info-block p {
    font-size: 18px;
    font-weight: 400;
    max-width: 480px;
    padding: 10px;
}
.left-box {
    text-align: right;
    margin-right: 2px;
}
.q8-right-tittles-div {
    font-size: 20px;
    background-color: #c03;
    border: 1px #c03;
    padding: 10px;
    color: #fff;
    max-width: 350px;
    margin-top: 80px;
}
.other-options-section {
    display: flex;
    align-items: top;
    justify-content: space-between;
    flex-wrap: wrap;
}
.other-options-boxes h4 {
    font-size: 20px;
    margin:10px 0;
}
.other-options-boxes p {
    max-width: 380px;
    font-size: 18px;
    line-height: 1.5rem;
}
.conf-button {
    margin-top: 30px;
    padding: 15px;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    background-color: #474e5b;
    color: #fff;
    max-width: 300px;
    text-align: center;
}
.conf-button a {
    text-decoration: none;
    color: #fff;
}
.conf-button a:hover {
    color: #c03;
    transition: 0.3s;
}






/* footer */
.lower-footer-info {
    background-color: #474e5b;
    margin: 0 auto;
    margin-top: 50px;
}
.lower-footer {
    background-color: #474e5b;
    padding: 5% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.lower-footer a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    max-width: 140px;
    text-align: center;
    height: 115px;
}
.lower-footer a:hover {
    color: #d8dbe1;
}
.lower-footer-boxes {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.lower-footer-boxes::after {
    content: "";
    position: absolute;
    top: 0;
    right: -50%;
    height: 100%;
    width: 1px;
    background-color: rgb(155, 150, 150);
}
.last-footer-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.social-network-pages {
    padding: 20px 50px;
    text-align: right;

}
.social-network-pages img {
    margin-right: 10px;
    height: 40px;
}
.creator {
    border-top: 1px solid #474747;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    color: #fff;
}