* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "firago";
}
.container {
    width: 100%;
    margin: 0 auto;
    padding: 5%;
    /* height: 100%; */
}
.nav-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.nav-header a {
    text-decoration: none;
    color: black;
}
.burger-icon {
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    margin-right: 5px;
  }
.burger-icon span {
    display: block;
    width: 100%;
    height: 4px;
    background-color: black;
    border-radius: 5px;
  }
.burger-icon:hover span{
    background-color: #c03;
}
.nav-header ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}
.nav-header a:hover {
    color: #c03;
}
.nav-header li {
    margin-right: 30px;
    font-size: 20px;
}
.menu-li {
    position: relative;
}
.menu-li:hover .burger-icon span {
    background-color: #c03;
}
.menu-li a {
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-li span {
    margin-right: 50px;
}
.burger-menu {
    background-color: white;
    border: 1px solid black;
    display: none;
    display: flex;
    width: 100%;
    flex-direction: column;
}
.main-li {
    font-weight: 700;
}
.burger-icon-hover-block {
    display: none;
    justify-content: flex-start;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    z-index: 10;
    min-width: 480px;
    padding: 25px;
}
.burger-icon-hover-block ul {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;   
}
.burger-icon-hover-block ul li {
    margin-bottom: 8px;
}
.menu-li:hover .burger-icon-hover-block {
    display: block;
}
.red-arrow {
    width: 15px;
    height: 12px;
    margin-right: 5px;
    fill: #c03;
}
.logo-div img{
    width: 100px;
}
.rs-li a{
    display: flex;
    align-items: center;
}

/* slider */

/* .swiper {
    width: 100%;
    height: fit-content;
    margin-top: 50px;
} */
.slider-wrapper {
    width: 100%;
}
.swiper {
    width: 100%;
    display: flex;
    position: relative;
}
.swiper-button-next, .swiper-button-prev {
    color: #fff !important;
}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    background-color: #fff !important;
}
.swiper-slide {
    width: 100%;
    position: relative;
}
.swiper-slide img {
    width: 100%;
}
.swiper-button-next, .swiper-button-prev {
    color: #fff !important;
}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    background-color: #fff !important;
}
/* .swiper-slide {
    width: 100%;
    position: relative;
} */
.swiper-slide h3 {
    padding: 10px;
    font-size: 40px;
    position: absolute;
    color: #fff;
    left: 50px;
    top: 50px;
    z-index: 10;
}
.a3-block {
    margin-top: 70px;
}
.a3-block h2 {
    font-weight: 700;
    font-size: 35px;
    max-width: 750px;
    margin-bottom: 20px
}
.a3-block p {
    max-width: 850px;
    font-weight: 400;
    font-size: 25px;
    margin-bottom: 100px;
}
.grid-collage {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 1px 1px; 
    grid-template-areas: 
        "a3-front a3-video a3-video"
        "a3-front2 a3-video a3-video"
        ". a3-back a3-interior"; 
    max-width: 900px;
}
.a3-front { grid-area: a3-front; 
}
.a3-front2 { grid-area: a3-front2; 
}
.a3-video { grid-area: a3-video; 
}
.a3-back { grid-area: a3-back; 
}
.a3-interior { grid-area: a3-interior; 
}

.multimedia-gallery h3 {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 30px;
}
video {
    width: 800px;
    height: 455px;
}
.a3-more-info-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 80px;
    width: 100%;
}
.a3-left-tittles-div {
    font-size: 20px;
    background-color: #c03;
    border: 1px #c03;
    padding: 10px;
    color: #fff;
    max-width: 350px;
    text-align: right;
    margin-left: 150px;
}
.a3-more-info-block p {
    font-size: 18px;
    font-weight: 400;
    max-width: 480px;
    padding: 10px;
}
.left-box {
    text-align: right;
    margin-right: 2px;
}
.a3-right-tittles-div {
    font-size: 20px;
    background-color: #c03;
    border: 1px #c03;
    padding: 10px;
    color: #fff;
    max-width: 350px;
    margin-top: 50px;
}
.other-options-section {
    display: flex;
    align-items: top;
    justify-content: space-between;
    flex-wrap: wrap;
}
.other-options-boxes h4 {
    font-size: 20px;
    margin:10px 0;
}
.other-options-boxes p {
    max-width: 380px;
    font-size: 18px;
    line-height: 1.5rem;
}
.conf-button {
    margin-top: 30px;
    padding: 15px;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    background-color: #474e5b;
    color: #fff;
    max-width: 300px;
    text-align: center;
}
.conf-button a {
    text-decoration: none;
    color: #fff;
}
.conf-button a:hover {
    color: #c03;
    transition: 0.3s;
}
/* footer */
.lower-footer-info {
    background-color: #474e5b;
    margin: 0 auto;
    margin-top: 50px;
}
.lower-footer {
    background-color: #474e5b;
    padding: 5% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.lower-footer a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    max-width: 140px;
    text-align: center;
    height: 115px;
}
.lower-footer a:hover {
    color: #d8dbe1;
}
.lower-footer-boxes {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.last-footer-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.social-network-pages {
    padding: 20px 50px;
    text-align: right;

}
.social-network-pages img {
    margin-right: 10px;
    height: 40px;
}
.creator {
    border-top: 1px solid #474747;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    color: #fff;
}
@media screen and (max-width:1240px) { 
    .nav-header li:not(:first-child) {
        display: none;
    }
    .slider-wrapper h2 {
        font-size: 22px;
        top: 120px;
    }
    .swiper-slide h3 {
        bottom: 80px;
    }
    .slider-wrapper a {
        display: none;
    }
    .grid-collage {
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .a3-video {
        display: none;
    }
    .a3-more-info-block img{
        width: 280px;
    }
     h4 {
        font-size: 17px;
    }
    p {
        font-size: 15px;
    }
}
@media screen and (max-width: 800px) {
     .heading-text h2 {
        font-size: 20px;
    }
    .heading-text p {
        font-size: 18px;
    }
    .swiper-slide h3 {
        font-size: 22px;
        top: 10%;
        left: 8%;
    }
}
@media screen and (max-width:448px) {
    .lower-footer {
        justify-content: center;
    }
}
@media screen and (max-width: 400px) {
    .a3-left-tittles-div {
        max-width: 200px;
    }
    .a3-right-tittles-div {
        max-width: 200px;
    }
    .other-options-boxes img {
        width: 280px;
    }
    .multimedia-gallery img {
        width: 280px;
    }
    .multimedia-gallery h3 {
        font-size: 20px;
    }
}
