/* global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid; */
}
body {
    font-family: "firago";
}
.container {
    width: 100%;
    margin: 0 auto;
    padding: 5%;
}
.nav-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.nav-header a {
    text-decoration: none;
    color: black;
}
.burger-icon {
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    margin-right: 5px;
  }
.burger-icon span {
    display: block;
    width: 100%;
    height: 4px;
    background-color: black;
    border-radius: 5px;
  }
.burger-icon:hover span{
    background-color: #c03;
}
.nav-header ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}
.nav-header a:hover {
    color: #c03;
}
.nav-header li {
    margin-right: 30px;
    font-size: 20px;
}
.menu-li {
    position: relative;
}
.menu-li:hover .burger-icon span {
    background-color: #c03;
}
.menu-li a {
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-li span {
    margin-right: 50px;
}

/* :hover */
.main-li {
    font-weight: 700;
}
.burger-icon-hover-block {
    display: none;
    justify-content: flex-start;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    z-index: 10;
    min-width: 480px;
    padding: 25px;
}
.burger-icon-hover-block ul {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;   
}
.burger-icon-hover-block ul li {
    margin-bottom: 8px;
}
.menu-li:hover .burger-icon-hover-block {
    display: block;
}

.logo-div img{
    width: 100px;
}
.rs-li a{
    display: flex;
    align-items: center;
}
.slider-wrapper {
    width: 100%;
}
.swiper {
    width: 100%;
    display: flex;
    position: relative;
}
.swiper-button-next, .swiper-button-prev {
    color: #fff !important;
}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    background-color: #fff !important;
}
.swiper-slide {
    width: 100%;
    position: relative;
}
.swiper-slide h2 {
    padding: 10px;
    font-size: 45px;
    position: absolute;
    color: #fff;
    left: 50px;
    top: 50px;
    z-index: 10;
}
.swiper-slide h3 {
    padding: 10px;
    font-size: 35px;
    position: absolute;
    color: #fff;
    left: 50px;
    top: 150px;
    z-index: 10;
}
.swiper-slide a {
    padding: 10px;
    position: absolute;
    background-color: white;
    border: 1px solid white;
    right: 80px;
    top: 70px;
    z-index: 10;
    text-decoration: none;
    color: #000;
    font-size: 25px;
    font-weight: 700;
    display: flex;
    align-items: center;
    fill: #c03;
}
.swiper-slide span {
    font-size: 28px;
}
.swiper-slide a:hover  {
    color: #c03;
}
.swiper-slide img { 
    width: 100%;
    position: relative;
}
.double-arrow {
    margin-left: 7px;
} 
.model-selection {
    display: flex;
    flex-direction: column;
}
.model-selection h3 {
    font-size: 20px;
    font-weight: 700;
}
.model-selection a {
    margin-top: 15px;
    color: white;
    border: 1px solid #000;
    padding: 10px;
    background-color: #000;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center;
    max-width: 19.6em;
}
.white-arrow {
    fill: #fff;
    margin-left: 10px;
    width: 12px;
}
select {
    background: #fff;
    flex: 1;
    padding: 0 .5em;
    color: #000;
    cursor:pointer;
    font-size: 1.3em;
    border: 1px solid #c7c1c1;
 }
 .select-car {
    position: relative;
    display: flex;
    margin-top: 15px;
    width: 22em;
    height: 3em;
    background: #fff;
}
.other-pages {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.other-pages h3:hover {
    color: #c03;
    transition: 0.1s linear;
}
.join-fb-page {
    position: relative;
    margin-right: 70px;
}
.join-fb-page img{
    width: 100%;
    height: 100%;
}
.join-fb-page h3 {
    position: absolute;
    font-size: 22px;
    max-width: 580px;
    color: #fff;
    top: 20%;
    left: 38%;
    transform: translate(-50%, -50%);
    font-weight: 700;
}
.models-quattro {
    display: flex;
    flex-direction: column;
}
.models-quattro img {
    width: 100%;
    margin-bottom: 25px;
}
.all-models-page {
    position: relative;
}
.all-models-page h3 {
    position: absolute;
    font-size: 20px;
    color: #fff;
    top: 12%;
    left: 28%;
    transform: translate(-50%, -50%);
    font-weight: 700;
}
.quattro-page {
    position: relative;
}
.quattro-page h3 {
    position: absolute;
    font-size: 20px;
    color: #fff;
    top: 18%;
    left: 22%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    text-decoration: none;
}
footer {
    margin: 0 auto;
    width: 100%;
    background-color: #dee3ed;
}
.red-arrow {
    width: 15px;
    height: 12px;
    margin-right: 5px;
    fill: #c03;
}
#footer-rows {
    padding: 5% 10%;
    display: flex;
    align-items: top;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: 50px;
}
#footer-rows a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 16px;
}
#footer-rows a:hover {
    color: #c03;
}
#footer-rows li {
    list-style-type: none;
    margin-bottom: 15px;    
}
.main-footer-header {
    font-weight: 700;
}
.lower-footer-info {
    background-color: #474e5b;
    margin: 0 auto;
}
.lower-footer {
    background-color: #474e5b;
    padding: 5% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.lower-footer a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    max-width: 140px;
    text-align: center;
    height: 115px;
}
.lower-footer a:hover {
    color: #d8dbe1;
}
.lower-footer-boxes {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.last-footer-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    flex-wrap: wrap;
}
.social-network-pages {
    padding: 20px 50px;
    text-align: right;

}
.social-network-pages img {
    margin-right: 20px;
    height: 40px;
}
.social-network-pages img:last-child {
    margin-right: 0;
}
.creator {
    border-top: 1px solid #474747;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    color: #fff;
}
@media screen and (max-width:1240px) { 
    .nav-header li:not(:first-child) {
        display: none;
    }
    .slider-wrapper h2 {
        font-size: 22px;
        top: 120px;
    }
    .swiper-slide h3 {
        bottom: 80px;
    }
    .slider-wrapper a {
        display: none;
    }
}
@media screen and (max-width: 1000px){
    .join-fb-page h3 {
        font-size: 15px;
        top: 70px;
    }
    .models-quattro h3 {
        font-size: 15px;
        top: 15px;
        left: 70px;
    }
    .lower-footer > div {
        padding: 20px
    }
    .footer-rows div {
        padding: 20px 40px;
    } 
    .footer-rows {
        justify-content: space-between;
        gap: 30px;
        margin: 0 auto;
    }
}
@media screen and (max-width: 660px) {
    .swiper-slide h3 {
        bottom: 500px;
        top: 70%;
        left: 20%;
        font-size: 22px;
        transform: translate(-50%, -50%);
    }
    .slider-wrapper h2 {
        top: 20%;
        left: 55%;
        width: 100%;
        transform: translate(-50%, -50%);
        font-size: 20px;
        bottom: 120px;
    }
    .menu-li span {
        margin-right: 0;
    }
    .select-car {
        width: 150px;
    } 
}
@media screen and (max-width:448px) {
    .lower-footer {
        justify-content: center;
    }
}
@media screen and (max-width:390px) {
    .model-selection a {
        width: 150px;
    }
    .model-selection h3 {
        font-size: 15px;
    }
    .join-fb-page {
        margin-right: 20px;
        
    }
    .join-fb-page img {
        /* width: 272px; */
    }
    .other-pages {
        flex-wrap: wrap;
    }
}
